<div class="ContHomePage faCenter">
  <div class="ContFreeTrial">
    <div class="GetFreeTrial">
      <div class="header faCenter">
        <img src="../../../assets/Group 19.svg" alt="">
        <div class="headerMenus faCenter">
          @for (item of NavButtons; track item.id) {
            <button>{{item.text}}</button>
          }
        </div>
      </div>
      <div class="FreeTrialLeft">
        <div class="ContSides faCenter">
          <div class="TextSides">
            <p>Elevate your child's game with sv hoops - start your free trial today!</p>
            <span>curoiosity starts here!</span>
            <div class="ContButton faCenter">
              <button>get a free trial</button>
              <div class="ContIconBtn faCenter">
                <span class="material-symbols-outlined">
                  north_east
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="FreeTrialCenter"></div>

      <div class="FreeTrialRight">

      </div>
    </div>
  </div>
</div>